<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981743767532-ilrfdg8a3ug237hv7hfj88j5c5mnah58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981743767532-ilrfdg8a3ug237hv7hfj88j5c5mnah58</string>
	<key>API_KEY</key>
	<string>AIzaSyAkDNvw0VBv8HUM3wy7Chq_aiqKYErsSWg</string>
	<key>GCM_SENDER_ID</key>
	<string>981743767532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-6b972</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-6b972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981743767532:ios:bea4bcf59e634f1306fac9</string>
</dict>
</plist>